@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  font-family: Poppins;
  background-color: black;
  height: auto;
  width: auto;
}

.header {
  margin-top: clamp(1.063rem, -1.215rem + 4.75vw, 2.438rem);
}

.header-container {
  position: relative;
}

.container {
  max-width: 1230px;
  margin: auto;
  padding: 0 15px 0 15px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.header-nav-btn {
  display: flex;
  gap: 50px;
}

.burger {
  background-color: transparent;
  width: 40px;
  height: 30px;
  position: relative;
  color: #FFF;
  display: none;
}
.burger::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #FFF;
}
.burger::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 40px;
  height: 2px;
  background-color: #FFF;
}
.burger span {
  display: block;
  width: 40px;
  height: 1.5px;
  background-color: #FFF;
}

.nav-btn-link {
  letter-spacing: 1.2px;
  font-size: 12px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
}
.nav-btn-link:hover {
  letter-spacing: 2px;
  font-weight: 700;
}

.header-inner {
  display: flex;
}

.header-text {
  color: rgb(255, 255, 255);
}

.header-message {
  width: -moz-max-content;
  width: max-content;
  margin: clamp(1.25rem, -1.621rem + 12.76vw, 8.188rem) 0 clamp(0.438rem, -0.183rem + 2.76vw, 1.938rem) 0;
  font-size: clamp(0.438rem, 0.284rem + 0.77vw, 0.875rem);
  font-weight: 400;
  padding: clamp(0.313rem, 0.222rem + 0.45vw, 0.563rem) clamp(0.5rem, 0.341rem + 0.8vw, 0.938rem) clamp(0.313rem, 0.222rem + 0.45vw, 0.563rem) 5px;
  border-radius: 200px;
  background-color: #252222;
}
.header-message::before {
  content: "NEW";
  font-size: clamp(0.438rem, 0.369rem + 0.34vw, 0.625rem);
  font-weight: 600;
  padding: clamp(0.125rem, 0.08rem + 0.23vw, 0.25rem) clamp(0.438rem, 0.369rem + 0.34vw, 0.625rem);
  border-radius: 200px;
  background: rgb(37, 171, 117);
  margin-right: clamp(0.438rem, 0.256rem + 0.91vw, 0.938rem);
}

.header-title {
  max-width: 814px;
  font-size: clamp(3.125rem, -0.754rem + 17.24vw, 12.5rem);
  font-weight: 600;
  line-height: clamp(2.688rem, -0.597rem + 14.6vw, 10.625rem);
  letter-spacing: -2px;
}

.header-subtext {
  max-width: 600px;
  max-width: clamp(9.375rem, -0.515rem + 49.45vw, 37.5rem);
  font-size: clamp(0.375rem, 0.155rem + 1.1vw, 1rem);
  font-weight: 400;
  line-height: clamp(0.5rem, 0.023rem + 2.39vw, 1.813rem);
  letter-spacing: 0.5px;
  opacity: 0.5;
  margin: clamp(0.5rem, -0.247rem + 3.74vw, 2.625rem) 0 clamp(0.875rem, -0.444rem + 6.59vw, 4.625rem) 0;
}

.link-green {
  display: inline-block;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-size: clamp(0.5rem, 0.258rem + 1.21vw, 1.188rem);
  font-weight: 600;
  padding: 8px 10px;
  padding: clamp(0.5rem, 0.148rem + 1.76vw, 1.5rem) clamp(0.625rem, -0.1rem + 3.63vw, 2.688rem);
  border-radius: clamp(0.313rem, 0.203rem + 0.55vw, 0.625rem);
  background: rgb(37, 171, 117);
  position: relative;
  overflow: hidden;
}
.link-green:after {
  content: "";
  z-index: 10;
  position: absolute;
  background: #fff;
  height: 144px;
  left: -75px;
  opacity: 0.3;
  top: -51px;
  transform: rotate(35deg);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
}
.link-green:hover:after {
  left: 120%;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.header-link-black {
  display: inline-block;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-size: clamp(0.5rem, 0.258rem + 1.21vw, 1.188rem);
  font-weight: 600;
  padding: clamp(0.5rem, 0.148rem + 1.76vw, 1.5rem) clamp(0.625rem, -0.1rem + 3.63vw, 2.688rem);
  border-radius: clamp(0.313rem, 0.203rem + 0.55vw, 0.625rem);
  background: #252222;
  margin-left: clamp(0.313rem, -0.237rem + 2.75vw, 1.875rem);
  position: relative;
  overflow: hidden;
}
.header-link-black:after {
  content: "";
  z-index: 10;
  position: absolute;
  background: #fff;
  height: 144px;
  left: -75px;
  opacity: 0.3;
  top: -51px;
  transform: rotate(35deg);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
}
.header-link-black:hover:after {
  left: 120%;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.header-img-wrapper {
  position: relative;
  width: 492px;
}

.header-img {
  position: absolute;
  top: 0;
  right: 0;
  top: clamp(1.25rem, -2.43rem + 18.4vw, 9.875rem);
  right: clamp(0.625rem, -0.575rem + 6vw, 3.438rem);
  max-width: 130%;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: clamp(6.125rem, -0.639rem + 21.64vw, 16rem);
  right: 15px;
}

.header-block {
  max-width: 166px;
  border-radius: clamp(0.5rem, 0.236rem + 1.32vw, 1.25rem);
  background-color: #252222;
  font-size: clamp(0.625rem, -0.034rem + 3.3vw, 2.5rem);
  font-weight: 600;
  line-height: clamp(0.5rem, -0.203rem + 3.52vw, 2.5rem);
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  padding: clamp(0.5rem, 0.236rem + 1.32vw, 1.25rem) clamp(0.625rem, 0.185rem + 2.2vw, 1.875rem);
}

.header-block__yellow {
  color: rgb(255, 230, 66);
}
.header-block__yellow::after {
  content: "TIME";
  font-size: clamp(0.438rem, 0.306rem + 0.66vw, 0.813rem);
  font-weight: 400;
  line-height: 13px;
  line-height: clamp(0.438rem, 0.306rem + 0.66vw, 0.813rem);
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  margin-top: 5px;
}

.header-block__red {
  color: rgb(251, 19, 81);
}
.header-block__red::after {
  content: "EST CALORIES";
  font-size: clamp(0.438rem, 0.306rem + 0.66vw, 0.813rem);
  font-weight: 400;
  line-height: clamp(0.625rem, 0.405rem + 1.1vw, 1.25rem);
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  margin-top: 5px;
}

.exersises {
  margin: clamp(2.813rem, -0.902rem + 18.57vw, 13.375rem) 0 clamp(3.75rem, 0.017rem + 18.67vw, 12.5rem) 0;
}

.exersises-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exersises-title {
  font-size: clamp(0.75rem, 0.245rem + 2.53vw, 2.188rem);
  font-weight: 600;
  letter-spacing: 0.3px;
  color: rgb(255, 255, 255);
}

.exersises-more {
  color: rgb(255, 255, 255);
  font-size: clamp(0.375rem, 0.243rem + 0.66vw, 0.75rem);
  font-weight: 400;
  letter-spacing: 1.5px;
  z-index: 30;
  height: 12px;
  transition: all 0.5s;
}
.exersises-more:hover {
  letter-spacing: 4px;
}

.exersises-cards {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.exersises-card {
  max-width: 373px;
  transition: all 0.4s;
}
.exersises-card:hover {
  scale: 1.15;
}

.exersises-card-inner {
  color: #fff;
  position: relative;
  max-width: 373px;
}
.exersises-card-inner::after {
  content: "58:24";
  font-size: clamp(0.5rem, 0.236rem + 1.32vw, 1.25rem);
  font-weight: 600;
  padding: clamp(0.188rem, 0.034rem + 0.77vw, 0.625rem);
  background: rgb(0, 0, 0);
  border-radius: clamp(0.188rem, -0.01rem + 0.99vw, 0.75rem);
  position: absolute;
  top: 225px;
  left: 317px;
  color: #fff;
}

.card-img {
  border-radius: 10px;
}

.card-name {
  font-size: 50px;
  font-weight: 600;
  margin: clamp(-1.75rem, -1.97rem + 1.1vw, -1.125rem) 0 0 clamp(0.5rem, 0.236rem + 1.32vw, 1.25rem);
}

.card-subtext {
  margin: clamp(0.5rem, 0.346rem + 0.77vw, 0.938rem) 0 0 clamp(0.5rem, 0.346rem + 0.77vw, 0.938rem);
  opacity: 0.67;
  font-size: clamp(0.25rem, 0.052rem + 0.99vw, 0.813rem);
}

.program {
  position: relative;
}
.program::before {
  content: "";
  background-color: #2e2c2c;
  max-width: 1000px;
  height: 733px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.program-container {
  display: flex;
  justify-content: space-between;
  padding-top: clamp(1.875rem, 0.337rem + 7.69vw, 6.25rem);
  padding-bottom: clamp(0.625rem, -0.254rem + 4.4vw, 3.125rem);
  align-items: center;
  position: relative;
}

.program-title {
  max-width: 510px;
  color: rgb(255, 255, 255);
  font-size: clamp(2.188rem, 0.319rem + 9.34vw, 7.5rem);
  font-weight: 600;
  line-height: clamp(2.5rem, 0.367rem + 10.67vw, 7.5rem);
  letter-spacing: -2px;
  position: relative;
}

.program-inner {
  max-width: 558px;
  margin-top: clamp(0rem, -0.659rem + 3.3vw, 1.875rem);
  padding-left: 30px;
}

.program-text {
  max-width: 558px;
  color: rgb(255, 255, 255);
  font-size: clamp(0.625rem, 0.295rem + 1.65vw, 1.563rem);
  font-weight: 400;
  line-height: clamp(0.5rem, -0.62rem + 5.6vw, 3.125rem);
  letter-spacing: 0.5px;
  opacity: 0.7;
  margin-bottom: clamp(1.438rem, 0.317rem + 5.6vw, 4.625rem);
}

.program-img-wrapper {
  max-width: 600px;
  position: absolute;
  top: 445px;
  left: 0;
  z-index: -2;
  transform: rotate(-10deg);
}

.program-img {
  width: 100%;
  padding-left: 15px;
}

.people {
  margin-bottom: clamp(18.75rem, 3.864rem + 74.43vw, 59.688rem);
  margin-top: 70px;
}

.people-container {
  position: relative;
  color: #fff;
  letter-spacing: 0.5px;
}

.img-name {
  font-weight: 500;
  font-size: clamp(0.5rem, 0.236rem + 1.32vw, 1.25rem);
  margin: 12px 0 5px 0;
}

.img__indent {
  margin-left: 12px;
}

.img-subname {
  font-size: clamp(0.375rem, 0.199rem + 0.88vw, 0.875rem);
  font-weight: 400;
  opacity: 0.5;
}

.people-img__picture1 {
  width: clamp(7.188rem, -2.549rem + 48.68vw, 34.875rem);
  position: absolute;
  top: -63px;
  right: 0;
}
.people-img__picture1 > img {
  width: 100%;
}

.people-img__picture2 {
  width: clamp(4.688rem, -0.719rem + 27.03vw, 20.063rem);
  position: absolute;
  top: clamp(-1.875rem, -5.391rem + 17.58vw, 8.125rem);
  left: 0;
}
.people-img__picture2 > img {
  width: 100%;
}

.people-img__picture3 {
  width: clamp(4.688rem, -0.719rem + 27.03vw, 20.063rem);
  position: absolute;
  top: 450px;
  top: clamp(3.75rem, -4.821rem + 42.86vw, 28.125rem);
  left: 300px;
}
.people-img__picture3 > img {
  width: 100%;
}

.videos {
  padding-bottom: clamp(3.125rem, 1.011rem + 10.57vw, 8.938rem);
}

.video-item {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  padding: clamp(0.938rem, 0.142rem + 3.98vw, 3.125rem) 20px;
  align-items: center;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  border-top: none;
  border-left: none;
  border-right: none;
  transition: all 0.5s;
}
.video-item:last-child {
  border-bottom: none;
}
.video-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 50px 5px;
  padding: clamp(0.938rem, 0.142rem + 3.98vw, 3.125rem) 5px;
}
.video-item:hover .text {
  scale: 1.1;
}

.video-number {
  font-size: clamp(0.625rem, 0.284rem + 1.7vw, 1.563rem);
  opacity: 0.34;
  font-weight: 600;
}

.text {
  text-align: left;
  max-width: 485px;
  transition: all 0.5s;
}

.video-title {
  font-size: clamp(1.125rem, 0.398rem + 3.64vw, 3.125rem);
  font-weight: 400;
  letter-spacing: 0.83px;
}

.video-subtext {
  letter-spacing: 0.5px;
  opacity: 0.5;
  font-size: clamp(0.5rem, 0.364rem + 0.68vw, 0.875rem);
  font-weight: 400;
  margin-top: 10px;
}

.video-arrow {
  width: clamp(0.625rem, -0.284rem + 4.55vw, 3.125rem);
}
.video-arrow img {
  width: 100%;
}

@media (max-width: 1150px) {
  .header-img {
    display: block;
  }
  .exersises-cards {
    gap: 45px;
  }
  .program-img-wrapper {
    width: clamp(9.375rem, -1.468rem + 54.22vw, 37.5rem);
    top: clamp(10.625rem, 2.794rem + 39.16vw, 30.938rem);
  }
}
@media (max-width: 1229.98px) {
  .header-blocks {
    display: none;
  }
  .blocks {
    display: flex;
  }
  .header-img {
    max-width: 150%;
    top: clamp(0.313rem, -1.116rem + 7.14vw, 4.375rem);
    right: clamp(-0.563rem, -0.76rem + 0.99vw, 0rem);
  }
  .people-img__picture1 {
    padding: 0 15px 0 15px;
  }
  .people-img__picture2 {
    padding: 0 0 0 15px;
  }
}
@media (max-width: 1169px) {
  .exersises-cards {
    justify-content: center;
    gap: 25px;
  }
}
@media (max-width: 1024.98px) {
  .people-img__picture3 {
    left: 288px;
    left: clamp(13.875rem, 1.516rem + 25.78vw, 18rem);
  }
}
@media (max-width: 767.98px) {
  .header-nav-btn {
    display: none;
  }
  .burger {
    display: block;
  }
  .exersises-cards {
    justify-content: center;
    gap: 25px;
  }
  .card-img {
    width: clamp(10.438rem, 1.241rem + 45.98vw, 23.313rem);
  }
  .card-name {
    font-size: clamp(0.938rem, -0.625rem + 7.81vw, 3.125rem);
  }
  .exersises-card-inner::after {
    top: 203px;
    display: none;
  }
  .program::before {
    height: 233px;
  }
}
@media (max-width: 500px) {
  .blocks {
    display: none;
  }
}
@media (max-width: 440px) {
  .header-message {
    scale: 0.8;
    margin-left: -16px;
  }
  .burger {
    height: 18px;
    width: 18px;
  }
  .burger::after, .burger::before,
  .burger span {
    width: 18px;
    height: 1px;
  }
}
@media (max-width: 426px) {
  .people-img__picture3 {
    left: 115px;
  }
}/*# sourceMappingURL=main.css.map */